.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    display: none;
    background-color: #747474;
    color: #fff;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    width: 118px;
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
}

.tooltip:hover .tooltiptext {
    display: block;
}